.lark-carousel.slide .items-container,.lark-carousel.slide .items,.lark-carousel.slide .item,.lark-carousel.slide .content {
  width: 100%;
  height : 100%;
  overflow: hidden;
}

.lark-carousel.slide  .item {
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}

.lark-carousel.slide .item.active,
.lark-carousel.slide .item.next,
.lark-carousel.slide .item.prev {
  display: block;
}

.lark-carousel.slide .item.active {
  left: 0;
}

.lark-carousel.slide .item.next,
.lark-carousel.slide .item.prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.lark-carousel.slide .item.next {
  left: 100%;
}
.lark-carousel.slide .item.prev {
  left: -100%;
}
.lark-carousel.slide .item.next.left,
.lark-carousel.slide .item.prev.right {
  left: 0;
}
.lark-carousel.slide .item.active.left {
  left: -100%;
}
.lark-carousel.slide .item.active.right {
  left: 100%;
}