.lark-carousel , .lark-carousel .items-container, .lark-carousel .items,.lark-carousel .item,.lark-carousel .content {
	position: relative;
  padding: 0px;
  margin: 0;
}

.lark-carousel ul {
    list-style: none;
}


.lark-carousel  .prev, .lark-carousel  .next {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -23px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 2px #000;
    text-align: center;
    background: #222;
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    cursor: pointer;
}

.lark-carousel  .next {
    left: auto;
    right: 15px;
}

.lark-carousel  .close,
.lark-carousel  .title {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0 40px 0 0;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  opacity: 0.8;
}
.lark-carousel  .close {
  padding: 15px;
  right: 15px;
  left: auto;
  margin: -15px;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}
.lark-carousel  .cycle-stop {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 15px;
  height: 15px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPCAYAAAGEvU8KAAAABmJLR0QA/wD/AP+gvaeTAAACE0lEQVQ4y7VTPajaUBT+IhE13jQ86GBx6dapo+CWDKVQOtSlUBcDneTRrSAUqfcOTqWLk6uznbtKCt3sVFAKHaxF6uRfoi9qbU+XxBd/+rT2vQ8uudzznfPdnPNdYB9WqxUBEJxz2o0SEQEIe1GxPozFYlOPIzjn5BNkAFBVdeC67m2/imVZG1Uf4W/gnJPjOARAC+iDiCgEAIwxMMb624nycDiEJEmSfyCE2PiiVCpRIpFwANzfoyw456TrOgGAruvrPwoBgCRJ6Pf7jIg+ExE1m03SNO1bUM0wDACAYRhr1VBQolAo/IpGo+epVEqaTCZ3cSQe4ERkT00MAbhXr9d/M8Y+7iMEG7TdPAAQ5KFYLLqRSOTt9pC9wQqf69tvo2Hlcjk6n89fptPpKYDHx1x7A5VKhdrt9hsA7w8ly/5msVjg7OzswnVdBoCObRiy2ewiHo8/cV03vp1oWdalFT3DBJ9F7tRR+YYXsiy/VhSladv2CwCf/qGG4a2NC3vrqtjlwyEiWi6XVK1Wf2qaNmOM1QHcOSC8zg1YQByK7Uw5HA4jn8/L4/FYcRznaa/X+2Ga5lRRlIksy68ARHANCB0iJJNJ1Gq1eKfTuZXJZEqqqn4H8PB/heWrgq1WC7lc7qLb7X4ZDAbPAHzFNWFHuNFowDRNdzabfRiNRs8B9HEDWLtakqSSqqrvbNs+BzC4aVf/AaEAFTjRreu2AAAAAElFTkSuQmCC) 0 0 no-repeat;
  cursor: pointer;
  opacity: 0.5;
}

.lark-carousel.cycling .cycle-stop {
  background-position: -15px 0;
}


.lark-carousel   .prev:hover,
.lark-carousel   .next:hover,
.lark-carousel   .close:hover,
.lark-carousel   .title:hover,
.lark-carousel   .cycle-stop:hover {
  color: #fff;
  opacity: 1;
}