.lark-domx-tiler .thumbnail {
  border: 1px solid #dddddd;
  color: #666666;
  font-size: 14px;
  margin: 8px 7px;
  text-align: center;
}
.lark-domx-tiler .thumbnail img {
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
}

.lark-domx-tiler.align-center,
.lark-domx-tiler.align-justify,
.lark-domx-tiler.align-left,
.lark-domx-tiler.align-right {
  position: relative;
  font-size: 0.1px;
}
.lark-domx-tiler.align-center:after,
.lark-domx-tiler.align-justify:after,
.lark-domx-tiler.align-left:after,
.lark-domx-tiler.align-right:after {
  display: inline-block;
  width: 100%;
  content: '';
}
.lark-domx-tiler.align-center .infinitescroll-end,
.lark-domx-tiler.align-justify .infinitescroll-end,
.lark-domx-tiler.align-left .infinitescroll-end,
.lark-domx-tiler.align-right .infinitescroll-end,
.lark-domx-tiler.align-center .infinitescroll-load,
.lark-domx-tiler.align-justify .infinitescroll-load,
.lark-domx-tiler.align-left .infinitescroll-load,
.lark-domx-tiler.align-right .infinitescroll-load {
  display: inline-block;
  width: 100%;
}
.lark-domx-tiler.align-center .repeater-thumbnail,
.lark-domx-tiler.align-justify .repeater-thumbnail,
.lark-domx-tiler.align-left .repeater-thumbnail,
.lark-domx-tiler.align-right .repeater-thumbnail {
  display: inline-block;
  float: none;
  font-size: 14px;
}
.lark-domx-tiler.align-center .repeater-thumbnail:after,
.lark-domx-tiler.align-justify .repeater-thumbnail:after,
.lark-domx-tiler.align-left .repeater-thumbnail:after,
.lark-domx-tiler.align-right .repeater-thumbnail:after {
  content: ' ';
}
.lark-domx-tiler.align-center {
  text-align: center;
}
.lark-domx-tiler.align-justify {
  text-align: justify;
}
.lark-domx-tiler.align-left {
  text-align: left;
}
.lark-domx-tiler.align-right {
  text-align: right;
}
.lark-domx-tiler div.empty {
  font-size: 14px;
  font-style: italic;
  padding: 14px 10px 20px;
  text-align: center;
}
.lark-domx-tiler .selectable:hover {
  background: #f5f5f5;
  cursor: pointer;
}
.lark-domx-tiler .selectable.selected {
  background: #eeeeee;
}
.lark-domx-tiler .selectable.selected:hover {
  background: #dddddd;
}

