<!DOCTYPE HTML>
<html lang="en">
<head>
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<meta charset="utf-8">
<title>skylark blueimp gallery</title>
<meta name="description" content="The skylark blueimp gallery is a powerful, responsive and customizable gallery widget library, supports a variety of view modes such as list, masonory , slider, carousel, lightbox , flipbook, etc.,  optimized for both mobile and desktop web browsers. It can contain a variety of items such as images, videos, pages, etc., features swipe, mouse and keyboard navigation, transition effects, slideshow functionality, fullscreen support and on-demand content loading and can be extended to display additional content types.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../skins/default/carousel.css">
  <link rel="stylesheet" href="../../skins/default/carousel-slide.css">
  <link rel="stylesheet" href="../../skins/default/indicators.css">



<link rel="stylesheet" href="demo.css">

    <style>
      .item img {
        width : 100%;
        height : 100%;
      }

      #carousel-example-generic {
          width: 750px;
          height: 450px;
          margin: 1em auto;
      }
    </style>
</head>
<body>
<h1>skylark domx plugins gallery</h1>


<br>
<h2>Carousel image gallery</h2>
<!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
<div id="image-carousel" class="lark-carousel slide" style="width:750px;height:450px;margin:1em auto">
    <div class="items-container">
      <ul class="items"></ul>
    </div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="cycle-stop"></a>
    <ol class="indicators"></ol>
</div>

<br>

<script type="text/javascript" src="../require.js" data-main="../bootstrap.js"></script>
<script>

function initPage(langx,domx,groups) {
    var $ = domx.query;
    $(function () {
      'use strict'

      var carouselLinks = [
        {
         type: 'image',

          href : "https://i.imgur.com/MUSw4Zu.jpg",
          title : "1"
        },
        {
         type: 'image',
          href : 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/' +
          'Big_Buck_Bunny_4K.webm/4000px--Big_Buck_Bunny_4K.webm.jpg',
          title : "2"
        },
        {
          type: 'image',
          href : 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/' +
            'Elephants_Dream_s1_proog.jpg/800px-Elephants_Dream_s1_proog.jpg',
          title : "3"
        },
        {
         type: 'image',
          href : "https://secure-a.vimeocdn.com/ts/448/835/448835699_960.jpg",
          title : "4"
        }
      ];


      $('#image-carousel').plugin("lark.groups.carousel",{
        mode : "slide",

        data : {
          items: carouselLinks
        },
        item : {
          template : `<li class="item"><div class="content"> <img alt="<%= title %>" src="<%= href %>"></div></li>`
        },

      cycle : {
        // [milliseconds]
        // If a positive number, Carousel will automatically advance to next item after that number of milliseconds
        interval: 1000,

        pause: 'hover'        
      }

      });



    });
}
</script>
</body>
</html>
